* {
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;

}

body {
    margin: 0 15%;
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 100vh
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photo {
    margin-right: 1%;
    max-width: 50%
}
.details {
}

.details h2{
    color:plum;
}